.course-list-container {
    background-color: gray;
    padding: 20px;
  }


  
  
  .course-list {
    padding: 0;
    display: flex;
    background:black
    
  }
  @media only screen and (max-width: 414px) {
    .course-list-container{
      flex-direction: column;
    }
    .course-details div {
      flex-direction: column;
    }
    .course-details label {
      margin-bottom: 10px;
    }
    .course-details input {
      margin-bottom: 10px;
      width: 100%;
    }
  }

   
 
  .course-list li {
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .course-list li:hover,
  .course-list li.selected {
    background-color: red;
    font-weight: bold;
  }
  
  .course-list li {
    padding: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .course-list li:hover {
    background-color:red
  }


  
  .course-details {
   background:gray;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 18px;
    color: #333;
   width: 500px;
    height: 300px;
    text-align: center;
  }
  
  .course-details p {
    margin: 0;
  }
  .nameChangeInput{
    border-radius: 3px;
  }
  
  .addressChangeInput {
    border-radius: 3px;
  }
 
